*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100vh;
    width: 100vw;
    background-color:  aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
#container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    height: 95%;
    width: 50%;
    background-color: rgb(129, 87, 33);
    gap: 7px;
    overflow: hidden;

    
}
.box{
   width: 90px;
   height: 93px;
  
}
.first{
    background-color: brown;
}
.second{
    background-color: white;
}
